<div class="<%= edit.dom_class %> form-group">
  <%= label_tag("work_#{edit.predicate}", edit.label, id: "label_for_work_#{edit.predicate}") %>
  <div class="values">
  <% edit.each_with_index do |value, index| %>
    <%= text_field_tag(
      "work_#{edit.predicate}_#{index+1}",
       value,
       :name => "work[#{edit.predicate}][]",
       :class => 'existing-input',
       'aria-labelledby' => "label_for_work_#{edit.predicate}")
    %>
  <% end %>
    <%= text_field_tag(
      "work_#{edit.predicate}_0",
       nil,
       :name => "work[#{edit.predicate}][]",
       :class => 'blank-input',
       'aria-labelledby' => "label_for_work_#{edit.predicate}")
    %>
  </div>
  <% edit.with_text_for(:help) do |help| %>
    <p class="help-block"><%= help %></p>
  <% end %>
</div>
