<section class="<%= fieldset %>">
  <h1><%= fieldset %><h1>
  <% properties.each do |predicate, property| %>
  <div class="<%= property.predicate %>">
    <p class="label"><%= property.predicate.to_s.titleize %></p>
    <ul>
    <% property.each do |value| %>
      <li class="value"><%= value %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
</section>
